.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin-top: 50px;
}

@media screen and (max-width: 320px) {
  .card__list {
    grid-gap: 1px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .card {
    padding-bottom: 15px;
  }
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url("../images/Like\ Active.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.card__like-button:hover {
  transform: scale(1.1);
  opacity: 0px;
}

.card__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
