.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .card {
    padding-bottom: 5px;
  }
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background: transparent url("../images/Like\ Active.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
/*When clicking the properties for the like button, the opacity on figma says whether the "like button" is active or inactive the opacity says "0". I've changed the opacity to 0.7 to have it as close as possible to the figma design.*/
.card__like-button:hover {
  opacity: 0.7;
}

.card__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
