.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 0 19px;
  display: none;
}

.modal__form {
  margin-top: 20px;
}

.modal__form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal__button {
  width: 100%;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
}

.modal__button:hover {
  background-color: #0056b3;
}

.modal__heading {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  padding: 36px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.modal__close {
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 800px) {
  .modal__close {
    width: 26px;
    height: 26px;
    margin-left: -40px;
    margin-bottom: 15px;
  }

  .modal__container {
    height: 322px;
    top: 123px;
    border-radius: 10px;
  }
}
