.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  margin: 0;
  position: relative;
  width: 282px;
}

.card__image {
  width: 100%;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background-image: url("../images/Like Inactive.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 25px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-button_active {
  background-image: url("../images/Union.svg");
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 19.3px;
  background: url("../images/Trash.svg") center no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 1;
  border: none;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .card {
    padding-bottom: 5px;
  }
}
