.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  max-width: 880px;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
